<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>로그인 폼</title>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" ></script>
</head>
<body>
	<div class="container">
		<h1>고객 관리 시스템</h1>
		<form id="form-signin" class="form-signin" method="post" th:action="@{/login}">
			<h2 class="form-signin-heading">로그인 폼</h2>
			<div th:if="${param.error}" class="alert alert-danger">잘못된 아이디나 암호입니다.</div>
			<input type="text" class="form-control" name="username" placeholder="username" requeired="requeired" autofocus="autofocus" value="user1" />
			<input type="password" class="form-control" name="password" placeholder="Password" requeired="requeired" value="demo" />
			<button class="btn btn-lg btn-primary btn-block" type="submit" id="btn-submit">Sign in</button>
		</form>
	</div>
</body>
</html>