<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.jlblog.app.mapper.CustomerMapper">
    
    <resultMap id="customerMap" type="Customer">
        <id column="id" property="id" />
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="username" property="user.username" />
        <result column="reg_date" property="regDate" />
    </resultMap>

    <select id="findAll" resultMap="customerMap">
        select
        	id, 
        	first_name, 
        	last_name,
        	username,
        	reg_date
        from customer
    </select>

    <select id="findOne" resultMap="customerMap" >
        select
        	id, 
        	first_name, 
        	last_name,
        	reg_date
        from customer
        where id = #{id}
    </select>
    
    <insert id="create" parameterType="Customer">
    	insert into customer(
    		first_name,
    		last_name    		
    	)values (
    		#{firstName},
    		#{lastName}
    	)
    	<selectKey resultType="int" keyProperty="id" order="AFTER">
    		select last_insert_id()
    	</selectKey>
    </insert>
    
    <update id="update" parameterType="Customer">
    	update customer set
    		first_name = #{firstName},
    		last_name = #{lastName},
    		reg_date = now()
    	where id = #{id}
    </update>
    
    <delete id="delete" parameterType="Integer">
    	delete from customer
    	where id = #{id}
    </delete>
    
</mapper>