<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.jlblog.app.mapper.UserMapper">
    
    <resultMap id="userMap" type="User">
        <result column="USERNAME" property="username" />
        <result column="ENCODED_PASSWORD" property="encodedPassword" />
    </resultMap>


    <select id="findOne" resultMap="userMap" >
        SELECT
        	USERNAME,
        	ENCODED_PASSWORD
        FROM USERS
        WHERE USERNAME = #{username}
    </select>
    
</mapper>